/* color orange #faae27 or rgba(250,174,39,255)
color blue #222e54 or rgba(34,46,84,255) */

/* MOBILE FIRST APPROACH */
/* ----------- defaults PAGE 1 LANDING -----------  */
:root {
  background-color: #222e54;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}

img {
  width: 100px;
}

/* not sure if I want this in the layout */
/* body {
  background-image: url(/imgs/background2-1080x1920.jpg);
  background-size: 400px;
  height: 100vh;
  background-position: right top;
  background-repeat: no-repeat;
} */

.btn {
  font-size: 1.8rem;
  padding: 1rem;
  background-color: rgba(250, 174, 39, 255);
  border-radius: 1rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.49);
  padding: 1.1rem;
}

/* ----------- defaults PAGE 2 QUIZ -----------  */

.choiceContainer:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.49);
  padding: 1.1rem;
}

/* ----------- defaults PAGE 3 RESULTS -----------  */

/* ----------- style PAGE 1 LANDING -----------  */
/* ---- style PAGE 1 LANDING - header ----  */
.headerLandingPage {
  padding: 10px;
  float: left;
}

/* ---- style PAGE 1 LANDING - main ----  */
.landingPageContainer {
  width: 97vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  /* background-color: red; */
}

.gameTag h1 {
  font-size: 2.7rem;
  padding-top: 60px;
}

.gameTag p {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-weight: bold;
  color: rgba(250, 174, 39, 255);
}

.gameTag h2 {
  font-size: 6rem;
  font-weight: bold;
}

.gameTag h3 {
  font-size: 4rem;
  margin-bottom: 5rem;
  color: rgba(250, 174, 39, 255);
  padding-bottom: 50px;
}

#btnPlay {
  padding: 1rem 3rem;
}

#btnPlay:hover {
  padding: 1.1rem 3.1rem;
}

.startBoxContainer {
  background-color: rgba(250, 174, 39, 1);
  position: absolute;
  margin-top: 500px;
  border-radius: 5px;
  padding: 25px 35px 15px 35px;
}

.startFlexContainer {
  width: 60vw;
  max-width: 500px;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputUsername {
  padding: 0.7rem 12%;
  font-size: 1.5rem;
  color: rgba(34, 46, 84, 255);
  border-radius: 5px;
  border: none;
}

#btnSubmit {
  font-size: 11px;
  width: 7rem;
  background-color: rgba(34, 46, 84, 255);
  border: none;
}

#btnStart {
  width: 10rem;
  background-color: rgba(34, 46, 84, 255);
}

#btnClose {
  background-color: rgba(34, 46, 84, 255);
  font-size: 0.8rem;
  width: 2.5rem;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.startBoxContainer {
  display: none;
}

/* ---- style PAGE 1 LANDING - footer ----  */
.footerLandingPage h2 {
  font-size: 1.5rem;
}
.footerLandingPage img {
  width: 70px;
}

.footerLandingPage {
  position: fixed;
  /* top: 85vh; */
  right: 20px;
  bottom: 20px;
}

/* ----------- style PAGE 2 QUIZ -----------  */
/* ---- style PAGE 2 QUIZ - header ----  */
.gameTagQuizPage {
}

.gameTagQuizPage h2 {
  margin-top: 1rem;
  font-size: 3rem;
}

/*spacing between heading and the rest */
.gameTagQuizPage h3 {
  font-size: 2rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

/* don't know where to place it yet. */
.headsDisplay {
  display: flex;
  /* flex-direction: column; */
  width: 100vw;
  justify-content: space-evenly;
  font-size: 1.7rem;
  margin-top: 1rem;
  /* background-color: red; */
}

.headsDisplayTitle {
  color: rgba(250, 174, 39, 255);
  margin-right: 1rem;
  font-size: 1.5rem;
}

.headsDisplayText {
  margin-right: 1rem;
  font-size: 2.2rem;
}

#progressBar {
  width: 15rem;
  height: 2.5rem;
  border: 0.3rem solid rgba(250, 174, 39, 255);
  /* background-color: blue; */
}

#progressText {
  color: white;
}

/* starts filling 0% and javascript will change the widht to increase the bar */
#progressBarFull {
  height: 2rem;
  background-color: rgba(250, 174, 39, 255);
  width: 0%;
}

/* ---- style PAGE 2 QUIZ - main ----  */

.sentence {
  display: flex;
  margin: 5rem 2rem 0rem 3rem;
}

.sentence > * {
  font-size: 3rem;
  text-align: left;
  color: rgba(250, 174, 39, 255);
}

.sentence h2 {
  font-size: 3rem;
  font-style: italic;
}

/* not happy with this, check later */
.questionTag {
  display: inline-block;
  position: relative;
  left: 35%;
}

.questionTag > * {
  text-align: left;
  font-size: 18px;
}

.questionTag p {
  color: rgba(250, 174, 39, 255);
}

.choiceContainer {
  /* background-color: orange; */
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.choicePhoto {
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/* ---- style PAGE 2 QUIZ - footer ----  */
.footerQuizPage {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

/* ----------- style PAGE 3 RESULTS -----------  */
/* ---- style PAGE 3 RESULTS - header ----  */
/* ---- style PAGE 3 RESULTS - main ----  */

#results {
  font-size: 4rem;
  color: orange;
}
/* ---- style PAGE 3 RESULTS - footer ----  */

/* MOBILE FIRST APPROACH - DESKTOP BELLOW */
/* ----------- defaults PAGE 1 LANDING -----------  */
@media screen and (min-width: 801px) {
  /* not sure if I want this in the layout */
  /* body {
    background-image: url(/imgs/background2-1080x1920.jpg);
    background-size: 500px;
    height: 100vh;
    background-position: right top;
    background-repeat: no-repeat;
  } */
}
